{% extends '../base.html' %}

{% block page_content %}
<!-- Page header -->
<div class="row g-3 mb-4 align-items-center justify-content-between">
  <div class="col-auto">
    <h1 class="app-page-title mb-0">Klasy</h1>
  </div>
  <div class="col-auto">
    <div class="page-utilities">
      <div class="row g-2 justify-content-start justify-content-md-end align-items-center">
        {% if perms.school.add_squad %}
        <div class="col-auto">
          <button type="button" class="btn app-btn-primary" data-bs-toggle="modal" data-bs-target="#add_squad">
            Dodaj klasę
          </button>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>

<!-- Classes table -->
<table class="table">
  <thead>
    <tr>
      <th scope="col">Nazwa</th>
      <th scope="col">Profil</th>
      <th scope="col">Wychowawca</th>
      {% if perms.school.change_squad %}
        <th scope="col"></th>
      {% endif %}
      {% if perms.school.delete_squad %}
        <th scope="col"></th>
      {% endif %}
    </tr>
  </thead>
  <tbody>
    {% for class in data.classes %}
      <tr>
        <td>{{ class.name }}</td>
        <td>{{ class.profile }}</td>
        <td>{{ class.supervisor }}</td>
        {% if perms.school.change_squad %}
          <td class="table-btn">
            <button type="button" class="btn app-btn-primary" data-bs-toggle="modal" data-bs-target="#change_squad">
              Edytuj
            </button>
          </td>
        {% endif %}
        {% if perms.school.delete_squad %}
          <td class="table-btn">
            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#delete_squad{{ class.squad }}">
              Usuń
            </button>
          </td>
        {% endif %}
      </tr>
    {% endfor %}
  </tbody>
</table>

<!-- Add new class Modal -->
<div class="modal fade" id="add_squad" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Dodaj nową klasę</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form action="{% url 'class_add' %}" method="POST" class="settings-form">
        {% csrf_token %}
        <div class="modal-body">
          <div class="app-card-settings">
            <!-- Class name -->
            <div class="mb-3">
              <label for="add-squad-1" class="form-label">Nazwa klasy</label>
              <input name="name" type="text" class="form-control" id="add-squad-1" value="" required>
            </div>
            <!-- Class profile -->
            <div class="mb-3">
              <label for="add-squad-2" class="form-label">Profil klasy</label>
              <select name="profile" class="form-select" id="add-squad-2" aria-label="Wybór profilu klasy">
                {% for profile in data.profiles %}
                  <option value="{{ profile.class_profile }}">{{ profile.name }}</option>
                {% endfor %}
              </select>
            </div>
            <!-- Wychowawca -->
            <div class="mb-3">
              <label for="add-squad-3" class="form-label">Wychowawca</label>
              <select name="supervisor" class="form-select" id="add-squad-3" aria-label="Wybór wychowawcy klasy">
                {% for teacher in data.teachers %}
                  <option value="{{ teacher.id }}">{{ teacher.last_name }} {{ teacher.first_name }}</option>
                {% endfor %}
              </select>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Anuluj</button>
          <input type="submit" class="btn btn-primary" value="Zapisz">
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Modals for every class -->
{% for class in data.classes %}
  <!-- Delete class modal -->
  <div class="modal fade" id="delete_squad{{ class.squad }}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Usuń klasę</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form action="{% url 'class_delete' %}" method="POST" class="settings-form">
          {% csrf_token %}
          <div class="modal-body">
            <input type="hidden" name="class_id" value="{{ class.squad }}"/>
            <p>Czy na pewno chcesz usunąć tę klasę?</p>
            <p><strong>Nazwa: </strong> {{ class.name }}</p>
            <p><strong>Profil: </strong> {{ class.profile }}</p>
            <p><strong>Wychowawca: </strong> {{ class.supervisor }}</p>
            <p>Utworzona <strong>{{ class.created }}</strong> przez użytkownika <strong>{{ class.supervisor }}</strong></p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Anuluj</button>
            <input type="submit" class="btn btn-danger" value="Usuń">
          </div>
        </form>
      </div>
    </div>
  </div>
{% endfor %}
{% endblock %}