{% extends '../base.html' %}

{% block page_content %}
<!-- Page header -->
<div class="row g-3 mb-4 align-items-center justify-content-between">
  <div class="col-auto">
    <h1 class="app-page-title mb-0">Przedmioty w klasie</h1>
  </div>
  <div class="col-auto">
    <div class="page-utilities">
      <div class="row g-2 justify-content-start justify-content-md-end align-items-center">
        {% if perms.school.view_squad %}
        <div class="col-auto">
          <a href="{% url 'time_table' id=data.squad.squad %}" class="btn app-btn-secondary">
            Powrót do planu lekcji
          </a>
        </div>
        {% endif %}
        {% if perms.school.add_squadsubject %}
        <div class="col-auto">
          <button type="button" class="btn app-btn-primary" data-bs-toggle="modal" data-bs-target="#add_subject">
            Dodaj nowy przedmiot
          </button>
        </div>
        {% endif %}        
      </div>
    </div>
  </div>
</div>

<!-- Subjects table -->
<table class="table">
  <thead>
    <tr>
      <th scope="col">Przedmiot</th>
      <th scope="col">Nauczyciel</th>
      {% if perms.school.change_squadsubject %}
        <th scope="col"></th>
      {% endif %}
      {% if perms.school.delete_squadsubject %}
        <th scope="col"></th>
      {% endif %}
    </tr>
  </thead>
  <tbody>
    {% for subject in data.class_subjects %}
      <tr>
        <td>{{ subject.subject.name }}</td>
        <td>{{ subject.teacher.last_name }} {{ subject.teacher.first_name }}</td>
        {% if perms.school.change_squadsubject %}
          <td class="table-btn">
            <button type="button" class="btn app-btn-primary" data-bs-toggle="modal" data-bs-target="#change_squadsubject{{ subject.squad_subject }}">
              Edytuj
            </button>
          </td>
        {% endif %}
        {% if perms.school.delete_squadsubject %}
          <td class="table-btn">
            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#delete_squadsubject{{ subject.squad_subject }}">
              Usuń
            </button>
          </td>
        {% endif %}
      </tr>
    {% endfor %}
  </tbody>
</table>

<!-- Add new subject Modal -->
<div class="modal fade" id="add_subject" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Dodaj nowy profil</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form action="{% url 'class_subject_add' %}" method="POST" class="settings-form">
        {% csrf_token %}
        <div class="modal-body">
          <div class="app-card-settings">
            <input name="squad_id" type="hidden" value="{{ data.squad.squad }}" required>
            
            <div class="mb-3">
              <label for="add-subject-1" class="form-label">Przedmiot</label>
              <select name="subject_id" class="form-select" id="add-subject-1" aria-label="Wybór przedmiotu">
              {% for subject in data.subjects %}
                  <option value="{{ subject.subject }}" selected>{{ subject.name }}</option>
              {% endfor %}
              </select>
            </div>

            <div class="mb-3">
              <label for="add-subject-2" class="form-label">Przedmiot</label>
              <select name="teacher_id" class="form-select" id="add-subject-2" aria-label="Wybór nauczyciela">
              {% for teacher in data.teachers %}
                  <option value="{{ teacher.id }}" selected>{{ teacher.first_name }} {{ teacher.last_name }}</option>
              {% endfor %}
              </select>
            </div>

          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Anuluj</button>
          <input type="submit" class="btn btn-primary" value="Zapisz">
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Modals for every class -->
{% for subject in data.class_subjects %}
  <!-- Delete profile modal -->
  <div class="modal fade" id="delete_squadsubject{{ subject.squad_subject }}" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Usuń przedmiot</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form action="{% url 'class_subject_delete' %}" method="POST" class="settings-form">
          {% csrf_token %}
          <div class="modal-body">
            <input type="hidden" name="squad_subject_id" value="{{ subject.squad_subject }}"/>
            <p>Czy na pewno chcesz usunąć ten przedmiot?</p>
            <p><strong>Przedmiot: </strong> {{ subject.subject.name }}</p>
            <p><strong>Nauczyciel: </strong> {{ subject.teacher.first_name }} {{ subject.teacher.last_name }}</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Anuluj</button>
            <input type="submit" class="btn btn-danger" value="Usuń">
          </div>
        </form>
      </div>
    </div>
  </div>

  <!-- Edit profile modal -->
  <div class="modal fade" id="change_squadsubject{{ subject.squad_subject }}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Edytuj profil</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form action="{% url 'class_profile_change' %}" method="POST" class="settings-form">
          {% csrf_token %}
          <div class="modal-body">
            <div class="app-card-settings">
              <input type="hidden" name="class_profile_id" value="{{ profile.class_profile }}"/>
              <!-- Profile name -->
              <div class="mb-3">
                <label for="change-squad-1" class="form-label">Nazwa profilu</label>
                <input name="name" type="text" class="form-control" id="change-squad-1" value="{{ profile.name }}" required>
              </div>              
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Anuluj</button>
            <input type="submit" class="btn btn-primary" value="Zapisz">
          </div>
        </form>
      </div>
    </div>
  </div>
{% endfor %}
{% endblock %}