{% extends '../base.html' %}

{% block page_content %}
<table class="table">
    <thead>
        <tr class="timetable">
            <th scope="col">#</th>
            <th scope="col">Godziny</th>
            <th scope="col">Poniedziałek</th>
            <th scope="col">Wtorek</th>
            <th scope="col">Środa</th>
            <th scope="col">Czwartek</th>
            <th scope="col">Piątek</th>
        </tr>
    </thead>
    <tbody>
        {% for timetable in data.time_tables %}
            <tr class="timetable fs-7">
                <th scope="row">{{ timetable.no }}</th>
                <td>{{ timetable.hour_start }}-{{ timetable.hour_end }}</td>
                <!-- Monday table row + CUD modals -->
                {% if timetable.M.lesson %}
                    <td>
                        <span class="teacher">{{ timetable.M.lesson.subject.teacher.get_initials }}</span> {{ timetable.M.lesson.subject.subject.name }}
                        {% if perms.school.change_timetable %}
                            <sup>
                                <i class="far fa-edit fa-sm pointer" data-bs-toggle="modal" data-bs-target="#change_lesson{{ timetable.M.lesson.time_table }}"></i>
                            </sup>
                            <sup>
                                <i class="far fa-trash-alt fa-sm pointer" data-bs-toggle="modal" data-bs-target="#delete_lesson{{ timetable.M.lesson.time_table }}"></i>
                            </sup>
                            {% include "time_tables/delete.html" with lesson=timetable.M.lesson %}
                            {% include "time_tables/update.html" with lesson=timetable.M.lesson %}
                        {% endif %}
                    </td>
                {% else %}
                    <td>
                        {% if perms.school.change_timetable %}
                            <i class="far fa-plus-square pointer add-lesson" data-bs-toggle="modal" data-bs-target="#add_lesson{{ timetable.M.lesson_no.lesson_table }}{{ timetable.M.day }}{{ timetable.M.squad.squad }}"></i>
                            {% include "time_tables/create.html" with lesson_no=timetable.M.lesson_no day=timetable.M.day squad=timetable.M.squad %}
                        {% endif %}
                    </td>
                {% endif %}
                
                <!-- Tuesday table row + CUD modals -->
                {% if timetable.T.lesson %}
                    <td>
                        <span class="teacher">{{ timetable.T.lesson.subject.teacher.get_initials }}</span> {{ timetable.T.lesson.subject.subject.name }}
                        {% if perms.school.change_timetable %}
                            <sup>
                                <i class="far fa-edit fa-sm pointer" data-bs-toggle="modal" data-bs-target="#change_lesson{{ timetable.T.lesson.time_table }}"></i>
                            </sup>
                            <sup>
                                <i class="far fa-trash-alt fa-sm pointer" data-bs-toggle="modal" data-bs-target="#delete_lesson{{ timetable.T.lesson.time_table }}"></i>
                            </sup>
                            {% include "time_tables/delete.html" with lesson=timetable.T.lesson %}
                            {% include "time_tables/update.html" with lesson=timetable.T.lesson %}
                        {% endif %}
                    </td>
                {% else %}
                    <td>
                        {% if perms.school.change_timetable %}
                            <i class="far fa-plus-square pointer add-lesson" data-bs-toggle="modal" data-bs-target="#add_lesson{{ timetable.T.lesson_no.lesson_table }}{{ timetable.T.day }}{{ timetable.T.squad.squad }}"></i>
                            {% include "time_tables/create.html" with lesson_no=timetable.T.lesson_no day=timetable.T.day squad=timetable.T.squad %}
                        {% endif %}
                    </td>
                {% endif %}

                <!-- Wednesday table row + CUD modals -->
                {% if timetable.W.lesson %}
                    <td>
                        <span class="teacher">{{ timetable.W.lesson.subject.teacher.get_initials }}</span> {{ timetable.W.lesson.subject.subject.name }}
                        {% if perms.school.change_timetable %}
                            <sup>
                                <i class="far fa-edit fa-sm pointer" data-bs-toggle="modal" data-bs-target="#change_lesson{{ timetable.W.lesson.time_table }}"></i>
                            </sup>
                            <sup>
                                <i class="far fa-trash-alt fa-sm pointer" data-bs-toggle="modal" data-bs-target="#delete_lesson{{ timetable.W.lesson.time_table }}"></i>
                            </sup>
                            {% include "time_tables/delete.html" with lesson=timetable.W.lesson %}
                            {% include "time_tables/update.html" with lesson=timetable.W.lesson %}
                        {% endif %}
                    </td>
                {% else %}
                    <td>
                        {% if perms.school.change_timetable %}
                            <i class="far fa-plus-square pointer add-lesson" data-bs-toggle="modal" data-bs-target="#add_lesson{{ timetable.W.lesson_no.lesson_table }}{{ timetable.W.day }}{{ timetable.W.squad.squad }}"></i>
                            {% include "time_tables/create.html" with lesson_no=timetable.W.lesson_no day=timetable.W.day squad=timetable.W.squad %}
                        {% endif %}
                    </td>
                {% endif %}

                <!-- Thursday table row + CUD modals -->
                {% if timetable.C.lesson %}
                    <td>
                        <span class="teacher">{{ timetable.C.lesson.subject.teacher.get_initials }}</span> {{ timetable.C.lesson.subject.subject.name }}
                        {% if perms.school.change_timetable %}
                            <sup>
                                <i class="far fa-edit fa-sm pointer" data-bs-toggle="modal" data-bs-target="#change_lesson{{ timetable.C.lesson.time_table }}"></i>
                            </sup>
                            <sup>
                                <i class="far fa-trash-alt fa-sm pointer" data-bs-toggle="modal" data-bs-target="#delete_lesson{{ timetable.C.lesson.time_table }}"></i>
                            </sup>
                            {% include "time_tables/delete.html" with lesson=timetable.C.lesson %}
                            {% include "time_tables/update.html" with lesson=timetable.C.lesson %}
                        {% endif %}
                    </td>
                {% else %}
                    <td>
                        {% if perms.school.change_timetable %}
                            <i class="far fa-plus-square pointer add-lesson" data-bs-toggle="modal" data-bs-target="#add_lesson{{ timetable.C.lesson_no.lesson_table }}{{ timetable.C.day }}{{ timetable.C.squad.squad }}"></i>
                            {% include "time_tables/create.html" with lesson_no=timetable.C.lesson_no day=timetable.C.day squad=timetable.C.squad %}
                        {% endif %}
                    </td>
                {% endif %}

                <!-- Friday table row + CUD modals -->
                {% if timetable.F.lesson %}
                    <td>
                        <span class="teacher">{{ timetable.F.lesson.subject.teacher.get_initials }}</span> {{ timetable.F.lesson.subject.subject.name }}
                        {% if perms.school.change_timetable %}
                            <sup>
                                <i class="far fa-edit fa-sm pointer" data-bs-toggle="modal" data-bs-target="#change_lesson{{ timetable.F.lesson.time_table }}"></i>
                            </sup>
                            <sup>
                                <i class="far fa-trash-alt fa-sm pointer" data-bs-toggle="modal" data-bs-target="#delete_lesson{{ timetable.F.lesson.time_table }}"></i>
                            </sup>
                            {% include "time_tables/delete.html" with lesson=timetable.F.lesson %}
                            {% include "time_tables/update.html" with lesson=timetable.F.lesson %}
                        {% endif %}
                    </td>
                {% else %}
                    <td>
                        {% if perms.school.change_timetable %}
                            <i class="far fa-plus-square pointer add-lesson" data-bs-toggle="modal" data-bs-target="#add_lesson{{ timetable.F.lesson_no.lesson_table }}{{ timetable.F.day }}{{ timetable.F.squad.squad }}"></i>
                            {% include "time_tables/create.html" with lesson_no=timetable.F.lesson_no day=timetable.F.day squad=timetable.F.squad %}
                        {% endif %}
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}