<!-- Edit grade modal -->
<div class="modal fade" id="mark_paid{{ payment.id }}" tabindex="-1" aria-labelledby="staticBackdropLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Oznacz jako zapłacone</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="{% url 'payment_mark_paid' %}" method="POST" class="settings-form">
                {% csrf_token %}
                <div class="modal-body">
                    <input type="hidden" name="payment_id" value="{{ payment.id }}" />

                    <div class="mb-3">
                        Czy jesteś pewny że chcesz oznaczyć tą płatność jako uregulowaną (opłaconą)?
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Anuluj</button>
                    <input type="submit" class="btn btn-primary" value="Oznacz jako zapłacone">
                </div>
            </form>
        </div>
    </div>
</div>