<div class="modal fade" id="new_password" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Wygeneruj nowe hasło</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="{% url 'password_random' %}" method="POST" class="settings-form">
                {% csrf_token %}
                <input type="hidden" name="user_id" value="{{ user.id }}">
                <div class="modal-body">
                    <div class="app-card-settings">
                        <p>Czy chcesz wygenerować nowe hasło dla tego użytkownika?</p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Anuluj</button>
                    <input type="submit" class="btn btn-primary" value="Generuj">
                </div>
            </form>
        </div>
    </div>
</div>