{% extends '../base.html' %}

{% block page_content %}
<!-- Page header -->
<div class="row g-3 mb-4 align-items-center justify-content-between">
    <div class="col-auto">
        <h1 class="app-page-title mb-0">Frekwencja</h1>
    </div>
    <div class="col-auto">
        <div class="page-utilities">
            
        </div>
    </div>
</div>

<!-- Classes table -->
<table class="table">
    <thead>
        <tr>
            <th scope="col">Imię</th>
            <th scope="col">Nazwisko</th>
            <th scope="col">Klasa</th>
        </tr>
    </thead>
    <tbody>
        {% for student in data.students %}
        <tr class="class_choice pointer" onclick="location.href='{% url 'attendance' id=student.id %}';">
            <td>{{ student.first_name }}</td>
            <td>{{ student.last_name }}</td>
            <td>{{ student.get_class.name }}</td>            
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}