{% extends '../base.html' %}

{% block page_content %}
<!-- Page header -->
<div class="row g-3 mb-4 align-items-center justify-content-between">
    <div class="col-auto">
        <h1 class="app-page-title mb-0">{{ data.subject }}</h1>
    </div>
    <div class="col-auto">
    </div>
</div>

<div class="tab-content" id="orders-table-tab-content">
    <div class="tab-pane fade show active" id="orders-all" role="tabpanel" aria-labelledby="orders-all-tab">
        <div class="app-card app-card-orders-table shadow-sm mb-5">
            <div class="app-card-body">
                <div class="table-responsive">
                    <table class="table app-table-hover mb-0 text-left table-striped">
                        <thead>
                            <tr>
                                <th class="cell">Imię</th>
                                <th class="cell">Nazwisko</th>
                                <th class="cell">Oceny</th>
                                <th class="cell">Ocena końcowa</th>
                                <th class="cell"></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for student in data.grades %}
                                <tr>
                                    <td class="cell"><span class="truncate">{{ student.student.first_name }}</span></td>
                                    <td class="cell">{{ student.student.last_name }}</td>
                                    <td class="cell">
                                        {% for grade in student.grades %}
                                            {% if not grade.is_final %}
                                                <span class="badge bg-success pointer" data-bs-toggle="modal" data-bs-target="#grade_details{{ grade.id }}">{{ grade }}</span>
                                                {% include "grades/details.html" with grade=grade %}
                                            {% endif %}
                                        {% endfor %}
                                    </td>
                                    <td class="cell">
                                        {% for grade in student.grades %}
                                            {% if grade.is_final %}
                                                <span class="badge bg-secondary pointer" data-bs-toggle="modal" data-bs-target="#grade_details{{ grade.id }}">{{ grade }}</span>
                                                {% include "grades/details.html" with grade=grade %}
                                            {% endif %}
                                        {% endfor %}
                                    </td>
                                    <td class="cell text-right">
                                        {% if perms.school.add_grade %}
                                            <a class="btn-sm app-btn-primary" data-bs-toggle="modal" data-bs-target="#add_grade{{ student.subject.id }}-{{ student.student.id }}">Dodaj ocenę</a>
                                        {% endif %}
                                    </td>
                                </tr>

                                <!-- Add grade Modal -->
                                {% include "time_tables/create_grade.html" with student=student %}

                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}