{% load static %}

<!DOCTYPE html>
<html lang="pl">

<head>
	<title>SmartSchool</title>

	<!-- Meta -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<meta name="description" content="SmartSchool">
	<meta name="author" content="Konrad Sala">
	<link rel="shortcut icon" href="favicon.ico">

	<!-- FontAwesome JS-->
	<script defer src="{% static 'plugins/fontawesome/js/all.min.js' %}"></script>

	<!-- App CSS -->
	<link id="theme-style" rel="stylesheet" href="{% static 'css/portal.css' %}">

</head>

<body class="app app-login p-0">
	<div class="row g-0 app-auth-wrapper">
		<div class="col-12 col-md-7 col-lg-6 auth-main-col text-center p-5">
			<div class="d-flex flex-column align-content-end">
				<div class="app-auth-body mx-auto">
					<h2 class="auth-heading text-center mb-5">Reset hasła</h2>
					<div class="auth-form-container text-start">
						<form action="{% url 'reset_password_step_2' %}" method="POST" class="auth-form login-form">
							{% csrf_token %}
							<input type="hidden" name="user_id" value="{{ user_id }}">
							<div class="password mb-3">
								<label class="sr-only" for="signin-password">Nowe hasło</label>
								<input id="signin-password" name="password" type="password"
									class="form-control signin-password" placeholder="Hasło" required="required">
							</div>
							<div class="text-center">
								<button type="submit" class="btn app-btn-primary w-100 theme-btn mx-auto">Zresetuj hasło</button>
							</div>
						</form>

						{% if status == 'noauth' %}
						<div class="text-center text-danger mt-2">Wystąpił błąd.</div>
						{% elif status == 'invalidform' %}
						<div class="text-center text-danger mt-2">Formularz resetu hasła został źle wypełniony. Zapytaj
							administratora o wskazówki, pokazując mu poniższą wiadomość.</div>
						<div class="text-danger fs-8">{{ error }}</div>
						{% endif %}
					</div>

				</div>

				<footer class="app-auth-footer">
				</footer>
			</div>
		</div>
		<div class="col-12 col-md-5 col-lg-6 h-100 auth-background-col">
			<div class="auth-background-holder">
			</div>
			<div class="auth-background-mask"></div>
			<div class="auth-background-overlay p-3 p-lg-5">
				<div class="d-flex flex-column align-content-end h-100">
					<div class="h-100"></div>
					<div class="overlay-content p-3 p-lg-4 rounded">
						<h5 class="mb-3 overlay-title">SmartSchool</h5>
						<div>SmartSchool to aplikacja umożliwiająca sprawne zarządzanie szkołą.</div>
					</div>
				</div>
			</div>
		</div>

	</div>


</body>

</html>