<!-- Delete grade modal -->
<div class="modal fade" id="delete_grade{{ grade.id }}" tabindex="-1" aria-labelledby="staticBackdropLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Usuń ocenę</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="{% url 'grade_delete' %}" method="POST" class="settings-form">
                {% csrf_token %}
                <div class="modal-body">
                    <input type="hidden" name="grade_id" value="{{ grade.id }}" />

                    <p>Czy na pewno chcesz usunąć ocenę?</p>

                    <p class="text-center display-5">Ocena: <strong>{{ grade }}</strong></p>
                    {% if grade.description %}
                    <p class="fs-5">Opis: <strong>{{ grade.description }}</strong></p>
                    {% endif %}
                    <p>Wystawiona <strong>{{ grade.issue_date }}</strong> przez {{ grade.issued_by }}</p>
                    {% if grade.edited_by %}
                    <p>Edytowana <strong>{{ grade.edit_date }}</strong> przez {{ grade.edited_by }}</p>
                    {% endif %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Anuluj</button>
                    <input type="submit" class="btn btn-danger" value="Usuń">
                </div>
            </form>
        </div>
    </div>
</div>