<!-- Add new lesson modal -->
<div class="modal fade" id="add_attendance" tabindex="-1" aria-labelledby="staticBackdropLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Dodaj wydarzenie</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="{% url 'attendance_add' %}" method="POST" class="settings-form">
                {% csrf_token %}
                <div class="modal-body">
                    <input type="hidden" name="student_id" value="{{ data.student.id }}" />

                    <div class="mb-3">
                        <label for="add-attendance-1" class="form-label">Lekcja</label>
                        <select name="lesson_id" class="form-select" id="add-attendance-1">
                            {% for lesson in data.lessons %}
                                <option value="{{ lesson.id }}">{{ lesson.start }}-{{ lesson.end }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="mb-3">
                        <label for="add-attendance-2" class="form-label">Typ</label>
                        <select name="event" class="form-select" id="add-attendance-2">
                            {% for type in data.event_types %}
                                <option value="{{ type.0 }}">{{ type.1 }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="mb-3">
                        <label for="add-attendance-3" class="form-label">Data</label>
                        <input type="date" name="date" class="form-control" id="add-attendance-3">
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Anuluj</button>
                    <input type="submit" class="btn btn-primary" value="Dodaj">
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    document.getElementById('add-attendance-3').valueAsDate = new Date();
</script>