<div class="modal fade" id="new_message" tabindex="-1" aria-labelledby="staticBackdropLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Nowa wiadomość</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="{% url 'message_send' %}" method="POST" class="settings-form">
                {% csrf_token %}
                <div class="modal-body">
                    <input type="hidden" name="sender_id" value="{{ data.user.id }}" />                    

                    <div class="mb-3">
                        <label for="new-msg-1" class="form-label">Odbiorca</label>
                        <select name="recipient_id" class="form-select" id="new-msg-1">
                            {% for principal in data.principals %}
                                <option value="{{ principal.id }}">Dyrektor - {{ principal.first_name }} {{ principal.last_name }}</option>
                            {% endfor %}
                            {% for teacher in data.teachers %}
                                <option value="{{ teacher.id }}">Nauczyciel - {{ teacher.first_name }} {{ teacher.last_name }}</option>
                            {% endfor %}
                            {% for parent in data.parents %}
                                <option value="{{ parent.id }}">Opiekun - {{ parent.first_name }} {{ parent.last_name }}</option>
                            {% endfor %}
                            {% for student in data.students %}
                                <option value="{{ student.id }}">Student - {{ student.first_name }} {{ student.last_name }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="mb-3">
                        <label for="add-grade-3" class="form-label">Wiadomość</label>
                        <textarea name="message" type="text" class="form-control" id="add-grade-3" value="" maxlength="2048" style="height: 200px;"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Anuluj</button>
                    <input type="submit" class="btn btn-primary" value="Wyślij">
                </div>
            </form>
        </div>
    </div>
</div>